/*navigation border*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BUTTON */

.navbar{
    background: #3d5a80;
    height: 100px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/*Color of Menu/Header & Space of the Menu*/
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0;
    padding: 0;
}

/*changing tiffany's portfolio*/
.navbar__text{
    cursor: pointer;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 75px;
    white-space: nowrap;
}

/*changing the color when hovered over link*/
.navbar__text:hover{
    color: #98c1d9;
    transition: all 0.3s ease;
}

/*changing menu*/
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.navbar__item{
    height: 50px;
}

.navbar__links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/* When hovering over the menu tab, the color will change*/
.navbar__links:hover{
    color: #98c1d9;
    transition: all 0.3s ease;
}

/*MAKING WEBSITE COMPATIBLE WITH PHONES AND TABLETS*/
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%; /*width of the whole navigation menu */
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%; /*width of the dropdown menu*/
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 30vh; /*height of dropdown menu*/
        z-index: -1;
        /*background: #98c1d9;*/
    }

    /*the whole dropdown menu*/
    .navbar__menu.active {
        background: #ffffff; /*background of the dropdown*/
        top: 100%; /*makes sure it doesn't overlap with previous border*/
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 999;
        height: 50vh;
        font-size: 3rem;
        border: 1px solid black;
    }
    .navbar__text{
        padding-left: 20px ;
    }

    /*designing the hamburger menu*/
    .navbar__toggle .bar {
        width: 30px;
        height: 3px;
        margin: 5px auto;
        padding: 50px;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }

    /*.navbar__item {*/
    /*    width:100%;*/
    /*}*/

    .navbar__links {
        text-align: center;
        width: 100%;
        display: table;
    }

    /*moves where the menu bar goes*/
    #mobile-menu {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /*Allow you to have a pointer in the hamburger menu*/
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    /*targeting 2nd bar*/
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    /*targeting 1st bar*/
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    /*targeting 3rd bar*/
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*NAVIGATION UNDERNEATH MENU*/
.tab__header{
    font-family: 'Mulish', sans-serif;
}

.directory{
    display: flex;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*changing Home*/
.directory__link{
    color: black;
    text-decoration: none;
    padding-right: 2px;

}

/*changing Current tab*/
.current_tab{
    font-size: medium;

}

    /*CONTENT HERE*/
    .main1__container {
        color: black;
        font-family: 'Mulish', sans-serif;
        font-size: xx-large;
    }

    .content {
        padding-top: 10px;
        font-size: medium;

    }

/*FOOTER SECTION*/

.footer__container{
    background: #3d5a80;
    color: aliceblue;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*changes contact me*/
#footer__header{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

/*changes the social media logos*/
.footer__social__icon{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
}

.social__icon__link{
    color: aliceblue;
    justify-content: center;
    align-items: center;
    width: 40px;
}

/*changes the italicized dinhtech*/
#footer__logo{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}