/*navigation border*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BUTTON */

.navbar{
    background:transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 100px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}


/*Color of Menu/Header & Space of the Menu*/
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0;
    padding: 0;
}


/*changing tiffany's portfolio*/
.navbar__text{
    cursor: pointer;
    color: #3d5a80;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 75px;
    white-space: nowrap;
}

/*changing the color when hovered over link*/
.navbar__text:hover{
    color: rgba(107,153,156, 0.8);
    transition: all 0.3s ease;
}

/*changing menu*/
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.navbar__item{
    height: 50px;
}

.navbar__links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rgba(107,153,156, 0.8);
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/* When hovering over the menu tab, the color will change*/
.navbar__links:hover{
    color: #3d5a80;
    transition: all 0.3s ease;
}

/*MAKING WEBSITE COMPATIBLE WITH PHONES AND TABLETS*/
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%; /*width of the whole navigation menu */
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%; /*width of the dropdown menu*/
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 30vh; /*height of dropdown menu*/
        z-index: -1;
        /*background: #98c1d9;*/
    }

    /*the whole dropdown menu*/
    .navbar__menu.active {
        background: #FFFFF7; /*background of the dropdown*/
        top: 100%; /*makes sure it doesn't overlap with previous border*/
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 999;
        height: 50vh;
        font-size: 3rem;
        border: 1px solid black;
    }
    .navbar__text{
        font-size: 5vh;
        padding-left: 20px ;
    }

    /*designing the hamburger menu*/
    .navbar__toggle .bar {
        width: 30px;
        height: 3px;
        margin: 5px auto;
        padding: 0;
        transition: all 0.5s ease-in-out;
        background: #3d5a80;
    }

    .navbar__links {
        text-align: center;
        width: 100%;
        display: table;
        background-color: transparent;
        color: #3d5a80;
    }

    .navbar__links:hover{
        color: rgba(107,153,156, 0.8);
        transition: all 0.3s ease;
    }

    /*moves where the menu bar goes*/
    #mobile-menu {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /*Allow you to have a pointer in the hamburger menu*/
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    /*targeting 2nd bar*/
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    /*targeting 1st bar*/
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    /*targeting 3rd bar*/
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/*NAVIGATION UNDERNEATH MENU*/
.tab__header{
    font-family: 'Mulish', sans-serif;
}

.directory{
    display: flex;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*changing Home*/
.directory__link{
    color: black;
    text-decoration: none;
    padding-right: 2px;

}

/*changing Current tab*/
.current_tab{
    font-size: medium;

}

    /*CONTENT HERE*/
#background{
    background-image: url("/img/reumepage__tarawindstead.jpg");
    filter: brightness(1.2);
    background-size: cover;
    width: 100%;
    height: 1300px;
    position: fixed;
    background-repeat: no-repeat;
    z-index: -10;
    background-position: center center;
    top: 0;
}

.main{
    /*left and right side*/
    padding: 0 20%;
}

.skill__list{
    list-style-position: inside;
    margin-left: 5%;
    columns: 2;
   -webkit-columns: 2;
   -moz-columns: 2;
    padding-top: 1%;
}

.container{
padding-top: 2%;
}

.hr {
    border: 2px solid rgba(61,90, 128, 0.9);
    width: 100%;
}

.header__section{
    /*color on resume */
    color: #8c99b2;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;

}

.experience__list {
    list-style-position: inside;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.work{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}


.degree{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.content{
    margin-top: 1%;
}

/*FOOTER SECTION*/

.footer__container{
    /*background: #3d5a80;*/
    color: black;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*changes contact me*/
#footer__header{
    color: #3d5a80;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

/*changes the social media logos*/
.footer__social__icon{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
}

.social__icon__link{
    color: #3d5a80;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.social__icon__link:hover{
    color: rgba(107,153,156, 0.8);
    transition: all 0.3s ease;
}

/*changes the italicized dinhtech*/
#footer__logo{
    color: black;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/*picture copyright*/
#pic_copyright{
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 960px){
    .main{
        padding: 0;
    }

    #background{
        width: 110%;
    }

}