/*ENTIRE WEBPAGE*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    max-width: max-content;
    scroll-behavior: smooth;
}

/* NAVIGATION BUTTON */

.navbar{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px solid #3d5a80;*/
}

/*changing menu*/
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    font-weight: bold;
    gap: 2rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
}


.navbar__links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    background-color: rgba(107,153,156, 0.8);
    padding: 0 1rem;
    height: 100%;
    width: 100%;
}

/* When hovering over the menu tab, the color will change*/
.navbar__links:hover{
    color: #3d5a80;
    transition: all 0.3s ease;
}

/*MAKING WEBSITE COMPATIBLE WITH PHONES AND TABLETS*/
@media screen and (max-width: 960px) {
    .navbar{
        height: 100%;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%; /*width of the dropdown menu*/
        position: absolute;
        top: -100px;
        opacity: 0;
        transition: all 0.5s ease;
        /*height: 10vh; !*height of dropdown menu*!*/
        z-index: -1;
    }

    /*the whole dropdown menu*/
    .navbar__menu.active {
        background: #FFFFF7; /*background of the dropdown*/
        top: 10%; /*makes sure it doesn't overlap with previous border*/
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 999;
        height: 80vh;
        font-size: 3rem;
        border: 1px solid black;
        transform: translate(-50%);
    }
    .navbar__text{
        font-size: 5vh;
        padding-left: 20px ;
    }

    /*designing the hamburger menu*/
    .navbar__toggle .bar {
        width: 30px;
        height: 3px;
        margin: 5px auto;
        padding: 0;
        transition: all 0.5s ease-in-out;
        background: #3d5a80;
    }


    .navbar__links {
        text-align: center;
        width: 100%;
        display: table;
        background-color: transparent;
        color: #3d5a80;
    }

    .navbar__links:hover{
        color: rgba(107,153,156, 0.8);
        transition: all 0.3s ease;
    }

    /*moves where the menu bar goes*/
    #mobile-menu {
        position: absolute;
        top: 5%;
        right: 5%;
        /*transform: translate(5%, 5%);*/
    }

    /*Allow you to have a pointer in the hamburger menu*/
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    /*targeting 2nd bar*/
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    /*targeting 1st bar*/
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    /*targeting 3rd bar*/
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .main{
        display: flex;
        flex-direction: column;
        padding-top: 5%;
    }

    .main h1{
        font-size: 5%;
    }

    html, body{
        max-width: max-content;
        overflow-x: hidden;
    }

}

    /*CONTENT HERE*/

body{
    margin: 0;
    padding: 0;
    background-color: #a5c4d6;
    background-image: url("../img/homepage__tarawindstead.jpg");
    background-size: cover;
    background-position: center 55%;
    background-repeat: no-repeat;
}

.main{
    display: flex;
    justify-content: flex-start;
    gap: 1%;
    align-items: center;
}

.main h1{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 10rem;
    padding-top: 2rem;
    padding-left: 3rem;
    color: #3d5a80;

}

/*changing the color when hovered over link*/
.main h1:hover{
    color: aliceblue;
    transition: all 0.3s ease;
}

.content{
    background-color: rgba(107,153,156, 0.8);
    font-family: 'Mulish', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: aliceblue;
    line-height: 3.5rem;
    justify-content: center;
    margin-top: 4%;
    padding: 2% 10% 2% 3%;
}

.content p:hover{
    color: #3d5a80;
    transition: all 0.3s ease;
}


/*design of the button*/
.btn-card{
  border: none;
  background-color: #3d5a80;
  color: aliceblue;
  padding: 20px 10px;
  margin-top: 2%;
  font-size: 12px;
  /*cursor: pointer;*/
  text-decoration: none;
}

/*when you click on view here*/
.btn-click{
    text-decoration: none;
    white-space: nowrap;
    color: aliceblue;
    font-family: 'Mulish', cursive;
    font-weight: bold;
    font-size: 20px;
}

.btn-card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

/*FOOTER SECTION*/

.footer__container{
    /*background: #3d5a80;*/
    color: aliceblue; /*changes the copyright word*/
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

/*changes contact me*/
#footer__header{
    color: #3d5a80;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

/*changes the social media logos*/
.footer__social__icon{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
}

.social__icon__link{
    color: #3d5a80;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.social__icon__link:hover{
    color: rgba(107,153,156, 0.8);
    transition: all 0.3s ease;
}

/*changes the italicized dinhtech*/
#footer__logo{
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/*picture copyright*/
#pic_copyright{
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}